/* src/App.css */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 150px;
    padding: 20px;
    flex-wrap: wrap;
}

.cert-button {
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(54, 69, 79, 0.15); /* Translucent charcoal fill */
    border: 2px solid #36454F;               /* Charcoal grey border */
    color: #00FF00;                          /* Neon green text */
    border-radius: 8px;
    min-width: 250px;
    text-align: center;
    transition: background-color 0.3s; /* Smooth transition effect */
}

.cert-button:hover {
    background-color: rgba(53, 62, 67, 0.25); /* Change background on hover */
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
